.vagrant
*.war
*.jar
*.crt
*.key
*.pem

### examples/mariadb-tutorial ###
employees_db

### Binary ###
*.war
*.jar
!gralde-wrapper.jar
*.zip
*.tar
*.tar.xz
*.tar.gz
*.tar.bz2

examples/ssh-server/data/*
!examples/ssh-server/data/.keep


